.project
.classpath
.settings
*/.metadata/*
*/bin/*
*~
*/local-hsqldb-db/*
*.swp
target
Servers
.recommenders
onebusaway-nyc-integration-tests/build
*.sublime-*
.DS_Store
.metadata
gtfs_trips_with_no_stif_match.csv
matched_trips_gtfs_stif.csv
non_pullin_without_next_movement.csv
route_ids_with_no_trips.csv
stif_trips_without_pullout.csv
