.popup {
    font-size: 12px;
	color: #333333;
	display: block;
}

.popup.loading {
	background-image: url('img/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: 35% 48%;
}

.popup.loading p {
	padding: 0px;
	padding-left: 45%;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 120%;
	font-weight: normal;
	color: #999;
}

.popup .header {
	white-space: nowrap;
	padding-left: 35px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.popup .header.stop {
	background-image: url("img/header_stop.png");
	background-repeat: no-repeat;
	background-position: left center;
}

.popup .header.vehicle {
	background-image: url("img/header_bus.png");
	background-repeat: no-repeat;
	background-position: left center;
}

.popup .header .title {
	white-space: nowrap;
    font-size: 16px;
    font-weight: bold;
}

.popup .header .type {
	height: 16px;
	font-weight: bold;	
	margin-top: 3px;
}

.popup .header .updated {
	white-space: nowrap;
	height: 16px;
	color: #666666;
	padding-left: 4px;
	margin-left: 4px;
	border-left: 1px solid #bebebe;
}

.popup .header .updated.stale {
    color: #d12020;
}

.popup .service {
	width: 325px;
	margin: 0;
	padding: 0;
	padding-top: 4px;
	color: #666666;
	font-weight: bold;
}

.popup .meta.stale {
  	color: #d12020;
}

.popup .serviceAlertContainer {
	color: #d12020;
	background-color: #FDEEF4;
}

.popup .serviceAlertContainer .alerts li {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	color: #D12020;
	font-size: 13px;
	line-height: 1.2em;
}

.popup .serviceAlertContainer .title {
	padding: 5px;
	font-weight:bold;
}

.popup ul li.route {
	whitespace: no-wrap;
	color: #000099;
	font-weight: bold;
}

.popup ul li.route.last {
	padding-bottom: 4px;
}

.popup ul li.route.no-padding {
	margin-top: 0px;
}

.popup ul li.arrival {
	whitespace: no-wrap;
	height: 16px;
	font-weight: bold;
	padding-left: 19px;
	background: url("img/bullet_bus.png");
	background-position: left top;
	background-repeat: no-repeat;
}

.popup ul li.arrival.last {
	padding-bottom: 4px;
}

.popup ul li.nextStop {
	whitespace: no-wrap;
	color: #000099;
	height: 16px;
	font-weight: bold;
	padding-left: 19px;
	background: url("img/bullet_stop.png");
	background-position: left top;
	background-repeat: no-repeat;
}

.popup ul li.nextStop.last {
	padding-bottom: 4px;
}

#bustime .popup ul li.nextStop span.stopName {
	color: #000099;
	cursor: pointer;
}

#bustime .popup ul li.nextStop span.stopName:hover {
	color: #8FC743;
}

.popup ul.otherRoutes li {
	display: inline;
	margin-right: 10px;
}

.popup ul li.nextStop span,
.popup ul li.arrival span {
	white-space: nowrap;
	color: #333333;
	padding-left: 0px;
	margin-left: 4px;
}

.popup ul li.arrival span:first-child {
	margin-left: 0px;
}

.popup .footer {
	margin-top: 7px;
	padding-top: 7px;
	border-top: 1px solid #bebebe;
}

.popup .footer .header {
	padding: 0px;
	font-size: 12px;
	font-weight: bold;
	font-style: italic;	
}

.popup ul.links {
	margin-top: 10px;
}