#{extends 'main.html' /} #{set title:'Service Alerts' /}

<h1>Service Alerts</h1>

#{form @Application.index(), method:'POST'}
<div class="well">
    <input type="hidden" value="true" name="refresh"/>
    <input type="submit" value="Refresh" class="btn primary"/>
    <input type="text" value="${tdsUrl}" name="tdsUrl" class="span14"/>
</div>
#{/form}

<table class="bordered-table">
	<thead>
		<tr>
            <th>&nbsp;</th>
            <th>id</th>
			<th>creationTime</th>
            <th>active from</th>
            <th>active to</th>
			<th>publication from</th>
			<th>publication to</th>
			<th>reason</th>
			<th>summary</th>
			<th>description</th>
			<th>urls</th>
			<th>agency+route</th>
			<th>consequences</th>
			<th>severity</th>
		</tr>
	</thead>
	<tbody>
		#{list items:serviceAlerts.list, as:'serviceAlert'}
		<tr>
            <td><a href="@{Application.deleteServiceAlert(serviceAlert.id, tdsUrl)}"><img width="16 height="16" src="/public/images/cross.png"/></a></td>
            <td>${serviceAlert.id}</td>
			<td>${serviceAlert.creationTime.formatDate()}</td>

            <td>${serviceAlert.formatTimeWindowValue("active", "from")}</td>
            <td>${serviceAlert.formatTimeWindowValue("active", "to")}</td>

            <td>${serviceAlert.formatTimeWindowValue("publication", "from")}</td>
            <td>${serviceAlert.formatTimeWindowValue("publication", "to")}</td>

			<td>${serviceAlert.reason}</td>

			<td>${serviceAlert.summaries.get(0).value}</td>

			<td>${serviceAlert.descriptions.get(0).value}</td>

			<td>${serviceAlert.urls}</td>

			<td>${serviceAlert.allAffects.get(0).agencyId} |
				${serviceAlert.allAffects.get(0).routeId}</td>

			<td>${serviceAlert.consequences.get(0).effect}</td>

			<td>${serviceAlert.severity}</td>
		</tr>
		#{/list}
	</tbody>
</table>
